html{
    background-color: #243642;

}

h2{
    font-size: 50px;
    font-family: "Jacquard 12", system-ui, sans-serif;
    text-align: center;
    background-color:  #629584;
    color: #243642;
}
.rule_text{
    font-size: 40px;
    color: #E2F1E7;
    align-content: center;
}

.text{
    color: #387478;
    align-content: center;
}

.align_center{
    text-align: center;
}

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

