html{
    background-color: #243642;
}

h2{
    font-size: 30px;
    text-align: center;
    background-color:  #629584;
    color: #243642;
}

.ad_text{
    color: #243642;
}
.ad_div{
    background-color: #629584;
    margin: 10px;
}
.text{
    color: #E2F1E7;
}

*{
    text-align: center;
}