html{
    background-color: #243442;
}

h2{
    font-size: 30px;
    text-align: center;
    background-color:  #639584;
    color: #243642;
}

.ad_text{
    color: #243644;
}
.ad_div{
    background-color: #529584;
    margin: 10px;
}
.text{
    color: #F2F1E7;
}

*{
    text-align: center;
}
